<header>
    <a href="{{ path('navigation') }}" class="logo"></a>
    <nav class="site-nav">
        <ul>

            <li>
                <div class="menu-item">
                    <a class="menu-item-name" href="{{ path('voyage_index') }}">voyages </a>
                </div>
            </li>
            <li>
                <div class="menu-item">
                    <a class="menu-item-name" href="javascript:void(0);">Pays</a>
                    <ul class="sub-menu">
                        {% for pays in pays %}
                        <li><a href="{{ path('pays_name',{'id': pays.id}) }}">{{pays.name}}</a></li>
                        {% endfor %}
                        <li><a class="read-more" href="{{ path('voyage_index') }}">Read more....</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="menu-item">
                    <a class="menu-item-name" href="javascript:void(0);">
                        activites
                    </a>
                    <ul class="sub-menu">
                        {% for activite in activites %}
                        <li><a href="{{ path('activite_name',{'id': activite.id}) }}">{{activite.name}}</a></li>
                        {% endfor %}
                        <li><a class="read-more" href="{{ path('voyage_index') }}">Read more....</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="menu-item">
                    <a class="menu-item-name" href="javascript:void(0);">
                        Sasions
                    </a>
                    <ul class="sub-menu">
                        {% for saison in saison %}
                        <li><a href="{{ path('saison_name',{'id': saison.id}) }}">{{saison.name}}</a></li>
                        {% endfor %}
                        <li><a class="read-more" href="{{ path('voyage_index') }}">Read more....</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <a href="javascript:void(0);" class="button primary">Log In</a>
    <a href="javascript:void(0);" class="button secondary">Sign Up</a>
</header>