<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3>Ajouter un nouveux voyage</h3>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class="row">
                <div class="col-4">
                <h4>Voyage</h4>
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.pointFort) }}
                    {{ form_row(form.ville) }}
                    {{ form_row(form.pays) }}
                    {{ form_row(form.saison) }}
                    {{ form_row(form.activity) }}
                </div>



                <div class="programme col-4 mb-5"
                    data-prototype="{{ form_row(form.programme.vars.prototype)|e('html_attr') }}">
                    <h4>Programmes</h4>
                    {% for programme in form.programme %}
                    {{ form_row(programme.jour) }}
                    {{ form_row(programme.description) }}
                    {% endfor %}
                    <button type="button" class=" btn btn-info mb-2 add_item_link"
                        data-collection-holder-class="programme">Add a porgramme</button>
                </div>
            </div>


        </div>

        <div class="card-footer">
            {{ form_row(form.submit) }}
        </div>
         {{form_end(form) }}