<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3>Ajouter ou modifier un voyage</h3>
        </div>
           {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        <div class="card-body">
            {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class="row">
                <div class="col-3 border-right">
                    <h4>Voyage</h4>
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.pointFort) }}
                    {{ form_row(form.ville) }}
                    {{ form_row(form.pays) }}
                    {{ form_row(form.saison) }}
                    {{ form_row(form.activity) }}
                    {{ form_row(form.imageFile) }}
                </div>

                <div class="programme col-3 mb-5 border-right"
                    data-prototype="{{ form_row(form.programme.vars.prototype)|e('html_attr') }}">
                    <h4>Programmes</h4>
                    {% for programme in form.programme %}
                    {{ form_row(programme.jour) }}
                    {{ form_row(programme.description) }}
                    {% endfor %}
                    <button type="button" class=" btn btn-info mb-2 add_item_link"
                        data-collection-holder-class="programme">Ajouter un programme</button>
                </div>

                <div class="tarif col-3 mb-5 border-right"
                    data-prototype="{{ form_row(form.tarif.vars.prototype)|e('html_attr') }}">
                    <h4>Tarifs</h4>
                    {% for tarif in form.tarif %}
                    {{ form_row(tarif.prix) }}
                    {{ form_row(tarif.depart) }}
                    {{ form_row(tarif.retour) }}
                    {{ form_row(tarif.capacite) }}
                    {% endfor %}
                    <button type="button" class=" btn btn-info mb-2 add_item_link" data-collection-holder-class="tarif">Ajouter un tarif</button>
                </div>

                <div class="col-3 border-right">
                    <h4>Informations pratiques</h4>
                    {# {{ form_row(form.infoPratique.depart) }}
                    {{ form_row(form.infoPratique.retour) }} #}
                    {{ form_row(form.infoPratique.hebergement) }}
                    {{ form_row(form.infoPratique.repas) }}
                    {{ form_row(form.infoPratique.covid19) }}
                    {{ form_row(form.infoPratique.duree) }}
                </div>

            </div>


        </div>

        <div class="card-footer">
            {{ form_row(form.submit) }}
        </div>
        {{form_end(form) }}

</script>