{{ form_start(form) }}
<div class="card-body">
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    {{ form_row(form.depart) }}
    {{ form_row(form.retour) }}
    {{ form_row(form.hebergement) }}
    {{ form_row(form.repas) }}
    {{ form_row(form.covid19) }}
</div>

<div class="card-footer">
    {{ form_row(form.submit) }}
    
    {% if form.reset is defined %}
        {{ form_row(form.reset) }}
    {% endif %}
</div>
{{form_end(form) }}