<nav id="navbar_top" class="navbar navbar-light navbar-expand-lg bg-white border rounded  ">
    <a class="navbar-brand mr-5" href="{{ path('navigation') }}">
        <img src="{{ asset('images/logo.png') }}" width="80" height="90" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav w-75">
            <li class="nav-item">
                <a class="nav-link text-dark  ml-4" href="{{ path('navigation') }}">Home</a>
            </li>

            {% if pays is defined %}
            <li class="nav-item dropdown has-megamenu">
                <a class="nav-link text-dark  ml-4  dropdown-toggle" href="{{ path('navigation') }}"
                    data-toggle="dropdown"> Pays</a>
                <ul class="dropdown-menu fade-up megamenu ">
                    {% for pays in pays %}
                    <li><a class=" navigation text-body  text-decoration-none"
                            href="{{ path('pays_name',{'id': pays.id}) }}"> {{pays.name}}</a></li>
                    <hr>
                    {% endfor %}


                </ul>
            </li>
            {% endif %}
            {% if  activites is defined %}
            <li class="nav-item dropdown has-megamenu">
                <a class="nav-link text-dark ml-4 dropdown-toggle" href="#" data-toggle="dropdown"> Activites
                </a>
                <ul class="dropdown-menu  megamenu">

                    {% for activite in activites %}
                    <li><a class="navigation text-body  text-decoration-none"
                            href="{{ path('activite_name',{'id': activite.id}) }}">
                            {{activite.name}}</a></li>
                    <hr>
                    {% endfor %}


                </ul>
            </li>
            {% endif %}

            {% if  saison is defined %}
            <li class="nav-item dropdown has-megamenu">
                <a class="nav-link text-dark  ml-4  dropdown-toggle" href="#" data-toggle="dropdown"
                    data-hover="dropdown "> Sasions </a>
                <ul class="dropdown-menu  fade-up megamenu ">
                    {% for saison in saison %}
                    <li><a class="navigation text-body  text-decoration-none"
                            href="{{ path('saison_name',{'id': saison.id}) }}">
                            {{saison.name}}</a></li>
                    <hr>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}

            {% if  ville is defined %}
            <li class="nav-item dropdown has-megamenu">
                <a class="nav-link text-dark  ml-4  dropdown-toggle" href="#" data-toggle="dropdown"
                    data-hover="dropdown "> villes </a>
                <ul class="dropdown-menu  fade-up megamenu ">
                    {% for ville in villes %}
                    <li><a class="navigation text-body  text-decoration-none"
                            href="{{ path('ville_name',{'id': ville.id}) }}">
                            {{ville.name}}</a></li>
                    <hr>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link text-dark ml-4" href="#">About Us</a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <a href="{{path('app_login')}}" type="button" class="btn btn-outline-success mr-3">connexion</a>
            <a href="{{path('user_registration')}}" type="button" class="btn btn-outline-primary">inscription</a>
            {% if app.user.favorie is  defined %}
            <a href="{{path('favorie_index')}}" type="button" class="btn btn-danger ml-3">favorie
                <span class=" nbselection badge badge-light">{{ app.user.favorie|length }}</span></a>
            {% endif %}
            {% if app.user.trips is defined %}
                <a href="{{path('show_my_trips', {'id': app.user.id})}}" type="button" class="btn btn-warning ml-3">
                    Mes voyages
                    <span class="nbselection badge badge-light">{{ app.user.trips|length }}</span>
                </a>
            {% endif %}
        </ul>
    </div>
    </div>
</nav>