{% extends 'base.html.twig' %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .error{color:red}
</style>

{# 
{% if entity.field_boolean == True %}   



{% endif%}   

 #}
 {# {% if entity.field_boolean == T
 rue %}    #}


<div class="example-wrapper user-wrapper" >
    <h1>Register as a User</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn">{{ button_label|default('Sign Up') }}</button>
    {{ form_end(form) }}
</div>      
{# {% else%}    #}
 {# <div class="example-wrapper agence-wrappe">
        <h1>Register as a Agence</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Sign Up') }}</button>
    {{ form_end(form) }}
    </div> #}
{# {% endif%}    #}


   

    </div>

 
{% endblock %}


{% block javascripts%}
<script>
    {# function validate(){
        var userRole= document.getElementById('user-role');
        var agenceRole= document.getElementById('agence-role');
        document.querySelectorAll('.role').forEach(function(button) {
        button.addEventListener('click',function(){
            if (userRole.checked){
                document.getElementById('user_roles').value= 0
                }else{
                    document.getElementById('user_roles').value= 1
                }
            })
        })  
    }
    validate() #}
</script>
{% endblock %}