<div>
    {% for participat in voyage.usersParticipat %}
        {% if app.user != null and app.user.id == participat.id %}
        <div class="has-text-centered mb-5">
            <span class="button is-warning modal-button is-medium" id="leave-comm-btn" data-target="modal-card">Laisser un commentaire</span>
        </div>
        {% endif %}
    {% endfor %}

    <!-- START modal -->
    <div id="modal-card" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            {% include 'Front/voyage/_form.avis.html.twig' %}
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- END modal -->

    {% set avisSort = [] %}
    {% for avi in avis %}
        {% set avisSort  = avisSort|merge([avi]) %}
    {% endfor %}

    {% set msg_box_color = ["", "is-dark", "is-warning", "is-link", "is-success", "is-info"] %}

    {% for avi in avisSort|sort((a, b) => a.date < b.date) %}
        <div class="card">
            <div class="v-card-content">
                <article class="message {{ random(msg_box_color) }}" style="width: 100%;">
                    <div class="message-body">
                        <h3 style="text-transform:uppercase;"><b>{{ avi.titre }}</b></h3>
                        <br>
                        <p>{{ avi.description }}</p>
                    </div>
                </article>
            </div>
            <footer class="card-footer">
                <span class="card-footer-item">{{ avi.user.lastName }}</span>
                <span class="card-footer-item">
                    {% for i in 1..avi.compteur  %}
                        <i class="bi bi-star-fill"></i>
                    {% endfor %}</span>
                <span class="card-footer-item">{{ avi.date|date("d/m/Y") }}</span>
            </footer>
        </div>
    {% endfor %}
</div>