<table class="table table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Arrivée</th>
            <th>Départ</th>
            <th>Hébergement</th>
            <th>Repas</th>
            <th>Info COVID-19</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Arrivée</th>
            <th>Départ</th>
            <th>Hébergement</th>
            <th>Repas</th>
            <th>Info COVID-19</th>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <td>{{infosPratiques.getRendezVous()|date("m/d/Y")}}</td>
            <td>{{infosPratiques.getFinSejour()|date("m/d/Y")}}</td>
            <td>{{infosPratiques.getHebergement()}}</td>
            <td>{{infosPratiques.getRepas()}}</td>
            <td>{{infosPratiques.getCovid19()}}</td>
        </tr>
    </tbody>
</table>