<!-- START NAV -->
<nav class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <a href="{{ path('agence_index') }}">
                <img src="{{ asset('build/images/logo4.png') }}" alt="TripDream: Trouvez et réservez des voyages en 1 clic" height="100" width="50">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navMainMenuAgence" class="navbar-menu">

            <div class="navbar-start">
                <a class="navbar-item" href="{{ path('agence_voyage_show', {'id': app.user.id}) }}">Mes voyages</a>
                <a class="navbar-item" href="{{path('voyage_new')}}">Créer un voyage</a>
            </div>

        
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <span class="navbar-item">
                        <div class="button is-outlined">
                            <span class="mr-2">{{ app.user.username }}</span>
                            <i class="bi bi-person-circle"></i>
                        </div>
                    </span>
                    <div class="navbar-dropdown is-right">
                        <a  class="navbar-item" href="{{ path('show_front_user', {'id': app.user.id}) }}">
                            <i class="bi bi-person-circle"></i>
                            <span class="ml-2">Mon compte</span>
                        </a>
                        <a class="navbar-item" href="{{path('app_logout')}}">
                            <i class="bi bi-box-arrow-left"></i>
                            <span class="ml-2">Déconnexion</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>
<!-- END NAV -->