{% extends 'base.html.twig' %}
{% block title %}Voyage index{% endblock %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock %}


{% block body %}

<div class="mt-5" style="min-height: 70vh;">
    <div class="container">
        <h2 class="pb-2">{{count|length}} résultats correspondent à votre recherche </h2>
        <h1></h1>
        <ul class="list-unstyled  ">
            {% for voyage in voyages %}
            <li class="media w-75  ">
                <a href="#">
                    <img width="200" class="mr-3"
                        src="https://www.labalaguere.com/sites/default/files/styles/banner_voyage/public/upload_voyages/FP1COLC_1.jpg?itok=pOymZ75X"
                        alt="Generic placeholder image">
                </a>

                <div class="media-body ">
                    <div class="d-flex justify-content-between">
                        <div><a href="#" style="font-size:24px;font-weight:700; color:#61464b;"
                                class="mt-0 mb-1">{{voyage.name}}</a></div>
                        <div> <i class="far fa fa-heart-o"></i>
                        </div>
                    </div>

                    <p style="font-size:16px; color: #61464b;" class="font-weight-light text-justify  ">
                        {{voyage.description}}
                    </p>

                    <div class="d-flex justify-content-between">
                        <div>agence: GoVoyage</div>
                        <div>15 jours</div>
                    </div>

                    <div class="d-flex flex-row justify-content-between ">

                        <div class="text-warning">
                            prochaine depart: 31/10/2021
                        </div>
                        <div style="font-weight:700;">
                            3600€
                        </div>
                    </div>
            </li>
            <hr>
            {% endfor %}
            <hr>
        </ul>
        <div class="navigation">
            {{ knp_pagination_render(voyages) }}
        </div>
    </div>
</div>

{% endblock %}