<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.ico') }}" />
    <title>{% block title %}Bienvenue!{% endblock %}</title>

    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

</head>

<body class="">
    <section class="hero is-warning">
        <div class="hero-head">
            {{ menu() }}
            {# {% include 'Front/navigation/menu.html.twig' %} #}

            <script>
            document.addEventListener('DOMContentLoaded', () => {
                (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                const $notification = $delete.parentNode;
            
                $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                });
                });
            });
            </script>

            {% for message in app.flashes('success') %}
                <div class="container mt-3" style='z-index:1000;display:flex;align-items:center;justify-content:center;'>
                    <div class="notification is-success">
                        <button class="delete"></button>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}

            {% set route = app.request.attributes.get('_route') %}
            {% set routes = ["show_front_user", "edit_front_user", "favorie_index", "panier_index", "panier_validation", "panier_success", "purchase_index"] %}

            {% if route not in routes %}
                {{ render(controller('App\\Controller\\Front\\SearchController::searchBar')) }}
            {% endif %}
        </div>
        
        <div class="hero-body">
            {% block hero %}{% endblock %}
        </div>
    </section>

    <div class="" style="background: #EFF3F4;" id="list">
        <div class="container mb-5 pt-2">
            {{ slope_it_breadcrumb() }}
        </div>
        {% block body %}{% endblock %}
    </div>
    {{ footer() }}
    {# {% include 'Front/navigation/footer.html.twig' %} #}
    
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>

</html>