{% extends 'base_front.html.twig' %}

{% block title %}Récapitulatif de commande{% endblock %}

{% block body %}

<div class="container">
    <div class="section">
        {% if paniers is not empty %}
            <div class="columns is-multiline">
                <div class="column is-8">
                    <div class="card is-shady" style="width: 100%;">
                        <div class="card-header">
                            <p class="title is-6">Récapitulatif de commande</p>
                        </div>
                        <div class="v-card-content">
                            <table class="table table is-striped is-narrow is-hoverable is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>Aperçu</th>
                                        <th>Dénomination</th>
                                        {# <th>Prix</th> #}
                                        <th>Opérations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for panier in paniers %}
                                    <tr>
                                        <td>
                                            <a class="image is-16by9" href="{{ path('voyage_show', {'id': panier.id}) }}">
                                                <img src="{{ vich_uploader_asset(panier) }}" alt="{{ panier.name }}" />
                                            </a>
                                        </td>
                                        <td>{{ panier.name }}</td>
                                        {# <td>{{ panier.tarif|first.prix }} €</td> #}
                                        <td>
                                            <a href="{{ path('voyage_show', {'id': panier.id}) }}"><button class="button is-small is-success"><i class="bi bi-eye"></i></button></a>
                                            {# <a href="{{ path('panier_delete', {'id': panier.id, 'total': total}) }}"><button class="button is-small is-danger"><i class="bi bi-trash"></i></button></a> #}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <a href="{{ path('panier_index')}}"><span><button class="button is-danger">Annuler</button></span></a>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-header">
                            <p class="title is-6">Total et validation</p>
                        </div>
                        <div class="v-card-content mt-5">
                            <b>Prix d'origine</b>
                            <p>{{ total }} €</p>
                            <hr>
                            <b>Crédit appliqué</b>
                            <p>0 €</p>
                            <hr>
                            <b>Total à payer</b>
                            <p>{{ total }} €</p>
                            <hr>
                            <p>Comme exigé par la loi, Tripdream prélève les taxes sur les transactions applicables aux achats réalisés dans certaines juridictions fiscales.</p>
                        </div>
                        <footer class="card-footer">
                            <span class="card-footer-item"><button data-total="{{ total }}"  class="button is-info is-fullwidth" id="checkout-button">Payer</button></span>
                        </footer>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="box">
                <p class="has-text-centered has-text-danger-dark">
                    Le panier est vide
                </p>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}


{% block javascripts %}
<script type="text/javascript">
{# import $ from 'jquery';
const total = $('#checkout-button').data('total') * 100; #}

var stripe = Stripe(
	'pk_test_51IrUFOIPqsC3XcMt1SFLXLTFuKXY9X3VvpLU0XIvcOPUVc36FpvWt2u7cwbk8JiM6sq8CpYAX9bLaMYxliOoLhUU00DhG9vQtY'
);
var checkoutButton = document.getElementById('checkout-button');

checkoutButton.addEventListener('click', function() {
	fetch(`/panier/validation/create-checkout-session`, {
		method: 'POST'
	})
	.then(function(response) {
		return response.json();
	})
	.then(function(session) {
		return stripe.redirectToCheckout({ sessionId: session.id });
	})
	.then(function(result) {
		// If redirectToCheckout fails due to a browser or network
		// error, you should display the localized error message to your
		// customer using error.message.
		if (result.error) {
			alert(result.error.message);
		}
	})
	.catch(function(error) {
		console.error('Error:', error.message);
	});
});
 
    </script>
{% endblock %}